body {
  background-color: pink;
  padding: 10px;
}

h1 {
  width: 100%;
  text-align: center;
  font-family: cursive;
  font-size: 70px;
}

p {
  width: 100%;
  text-align: center;
  font-family: cursive;
  font-size: 40px;
}
